.imgratio {
  max-width:500px;
  max-height:500px;
  width: expression(this.width > 100 ? "100px" : true);
  height: expression(this.height > 100 ? "100px" : true);
}
.botomImage {
  width : 500px;
  height: 500px;
}
  @media screen and (max-width: 800px) {
  .breakClass {
    display: none;
  }
}
