---
---
//* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  /* color: #5a5a5a; */
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 42rem;
  background-color: #777;
}

/*
.carousel-img {
  position: absolute;
  top: 0;
  left: 0;
 width: auto;
  height: 30rem;
}

*/
.carousel-img {
  position: absolute;
  top: 0;
  left: 0;
 width: 1199px;
  height: 887px;

}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
.imgratio {
    max-width:500px;
    max-height:500px;
      width: expression(this.width > 100 ? "100px" : true);
  height: expression(this.height > 100 ? "100px" : true);
}

.botomImage {
  width : 500px;
  height: 500px;
}
@media screen and (max-width: 800px) {
.breakClass {
  display: none;
}

}
.navbar{
  background-color: {{ site.data.colors.Nav_background }};
}
.nav-link{
  color: {{ site.data.colors.Nav_link }};
}
.navbar-nav .active>.nav-link{
  color: {{ site.data.colors.Nav_active_link }};
}
.link:hover{
  color: {{ site.data.colors.Nav_link_hover }};
}
p, ul li, label {
  color: {{ site.data.colors.Text_color }};
}
h1, h1 small, h2, h3, h4, h5, h6 {
  color: {{ site.data.colors.Heading_color }};
}
.home_hero_title {
  color: {{ site.data.colors.Home_Hero_Heading_color }};
}
